// Import Fonts

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bebas+Neue&display=swap");

$bgColor: #a28267;
$cardHeaderColor: #cd9c71;
$cardBodyColor: #ede4db;
$carbon1: #ceab8c;
$carbon2: #dcc3ae;
$border-color: #a37d5c;
$bg-2: #d1a892;
$bg-3: #ece2d9;
$text-1: #a3755d;
$text-2: #634230;

$f-lg: 96px;
$f-med: 36px;
$f-sm: 24px;
$card-height: 104px;

* {
  margin: 0px;
  // font-family: "Barlow", sans-serif;
  font-family: sans-serif;
  // transition: 2s all;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bgColor;

  #header {
    width: 100%;
    height: 90px;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
  }
  #main {
    display: flex;
    flex-grow: 1;
    background-image: url("../resources/Denim.svg");
    // background: radial-gradient(#92775f 15%, transparent 16%) 0 0,
    //   radial-gradient(#92775f 15%, transparent 16%) 8px 8px,
    //   radial-gradient(#a8927e 15%, transparent 20%) 0 1px,
    //   radial-gradient(#a8927e 15%, transparent 20%) 8px 9px;
    // background-size: 16px 16px;

    #card {
      display: flex;
      flex-direction: column;

      margin: auto;
      width: 576px;
      height: 589px;
      border-radius: 8px 8px 0 0;
      background: linear-gradient(
        rgba(255 255 255 /0.1) 2%,
        $cardHeaderColor 10%
      );
      background-color: $cardHeaderColor;

      #cardHeader {
        width: 100%;
        height: 96px;
        border-radius: 8px;
        background: radial-gradient($carbon1 15%, transparent 16%) 0 0,
          radial-gradient($carbon1 15%, transparent 16%) 8px 8px,
          radial-gradient($carbon2 15%, transparent 20%) 0 1px,
          radial-gradient($carbon2 15%, transparent 20%) 8px 9px;
        background-size: 16px 16px;
      }

      #cardBody {
        flex-grow: 1;
        background-color: $cardBodyColor;

        .ticket-card {
          position: relative; // Show what this does!
          &:not(:first-child) {
            margin: -32px 8px 8px 8px;
          }

          &:first-child {
            margin: 8px;
          }
          height: $card-height;
          background-color: $bg-3;
          border: 3px $border-color solid;
          display: flex;

          box-shadow: 0px 0px 10px rgba(0 0 0 / 0.5);

          &:hover {
            // color: red;
            // margin-bottom: 24px;
            // margin-top: 12px;
            // margin-bottom: 12px;
            transition: 0.5s all;
            box-shadow: 0px 0px 20px rgba(0 0 0 / 0.5);
            z-index: 10;

            cursor: pointer;
          }

          .header {
            // background-color: ;
            width: 56px;
            border-right: 3px dashed $bg-2;
          }

          .body {
            // margin: 12px 0px 12px 12px;

            .details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              // align-content: center;
            }
            flex-grow: 1;
            display: flex;
            flex-direction: row;

            justify-content: space-between;

            .date-time {
              color: $border-color;
              font-size: 12px;
            }

            .title {
              color: $text-1;
              font-family: "Bebas Neue", cursive;
              font-size: $f-med;
            }

            .event-type {
              rotate: -90deg;
              transform: translate(0px, 34px);
              // writing-mode: sideways-rl;

              font-family: "Bebas Neue", cursive;
              font-size: $f-sm;
              text-align: right;
              padding: 4px;
              height: fit-content;
              // align-self: center;
              margin-top: 34px;
              width: $card-height - 8px;
              color: $text-2;
            }
          }
          .calendar {
            p {
              font-family: "Bebas Neue", cursive;
              // font-weight: 900;
            }
            color: white;

            background-color: $bg-2;
            padding: 0px 2px 0px 8px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .month {
              margin-bottom: -16px;
              margin-top: 24px;
              font-size: $f-sm;
              text-align: right;
            }
            .date {
              font-size: $f-lg;
              letter-spacing: -4px;
            }
          }
        }
      }
    }
  }
}

svg {
  display: block;
  width: 100%;
  margin: 0;

  g {
    #tan {
      filter: drop-shadow(0px 4px 4px rgba(0 0 0 / 0.6))
        drop-shadow(0px -1px 1px rgb(0 0 0 / 0.9))
        drop-shadow(0px -1px 1px rgb(0 0 0 / 0.25)) url(#inset-shadow-2);
    }
    line {
      filter: drop-shadow(0px 4px 4px rgba(0 0 0 / 0.25))
        drop-shadow(0px -1px 1px rgb(0 0 0 / 0.5))
        drop-shadow(6px 0px 4px rgb(0 0 0 / 0.25)) url(#inset-shadow)
        brightness(100%);
    }
  }
}
