$bgColor: #a28267;
* {
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bgColor;
}

#header {
  width: 100%;
  background-color: white;
}
